body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}
h1{
  margin: 50px auto 0  auto;
  font-family: 'Limelight', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bolder;
}

h3{
  font-family: 'Open Sans', sans-serif;
  color: #11999E;
  font-weight: bolder;
}

p{
    line-height: 2;
}

a{
  color: #11999E;
  font-weight: bolder;
  font-size: 20px;
  margin: 10px 20px;
}

hr{
  border-color: Grey;
  border-style: dotted none none;
  border-width: 10px;
  width: 5%;
  margin: 100px auto 100px auto;
}

.top-container{
  background-color: AliceBlue;
  padding-top: 100px;
}

.middle-container{
  font-weight: bold;
  font-size: 20px;
  margin: 100px auto;
}

.bottom-container{
  background-color: #B0E0E6;
  padding: 50px 50px 30px 50px;
}

.intro{
  width: 50%;
  margin: auto;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.top-cloud{
  position: relative;
  left: 500px;

}

.bottom-cloud{
  position: absolute;
  text-align: center;
  left: 400px;
}

.giphy-embed{
  float: left;
  width: 50%;
  margin-right: 30px;
}

.giphy-embed-2{
  float: right;
  width: 50%;
  margin-left: 30px;
}

.contact-msg{
  width: 40%;
  margin: auto auto 50px auto;
}

.copyright{
}


.button {
   background: #66CDAA;
   background-image: -webkit-linear-gradient(top, #66CDAA, #3CB371);
   background-image: -moz-linear-gradient(top, #66CDAA, #3CB371);
   background-image: -ms-linear-gradient(top, #66CDAA, #3CB371);
   background-image: -o-linear-gradient(top, #66CDAA, #3CB371);
   background-image: -webkit-gradient(to bottom, #66CDAA, #3CB371);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: 'Open Sans', sans-serif;;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #3CB371 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_FRG:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

#Web-tag{
  font-weight: normal;
}
